@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
}

.caixa {
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#topo {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

#menu {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

#principal {
    grid-row: 3 / 4;
    grid-column: 1 / 2 ;
}

#secundario {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#rodape {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}