.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: rgb(243, 243, 243);
    grid-area: 1 / 1 / 2 / 5;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.219);
}

.caixa2 {
    background-color: red;
    grid-area: 2 / 1 / 4 / 3;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
}

.caixa3 {
    background-color: black;
    grid-area: 2 / 3 / 4 / 5;
    text-align: center;
    color: white;
    
}

footer {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.219);
}